header {
	height: 75px;

	display: grid;
	grid-template-columns: 1fr $breakpoint-md 1fr;
	grid-template-rows: 100%;
	align-items: center;

	background-color: var(--color-foreground);
	
	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	nav.actions {
		text-align: right;
	}
}
