$vspacing: 120px;

main {
	display: flow-root;
	background-image: url(/assets/images/product_background.webp);
	background-size: cover;
	background-position: center;

	.wrapper {
		margin: {
			left: auto;
			right: auto;
			top: $vspacing;
			bottom: $vspacing;
		}

		display: grid;
		grid-template-areas: "heading heading""image content";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		border: solid 1px var(--color-accent-light);
		border-top: none;
		border-bottom-width: 2px;
		border-radius: $radius-primary;
		box-shadow: 0 9px 4px rgba($color: #000000, $alpha: 0.1);

		h1 {
			padding: 20px;
			grid-area: heading;

			border: {
				top-left-radius: $radius-primary;
				top-right-radius: $radius-primary;
				bottom: solid 1px var(--color-accent-dark);
			}

			opacity: 0.9;
			background-color: var(--color-background);
			box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
			backdrop-filter: blur(40px);

			font-size: 64px;
			font-weight: normal;
			font-family: var(--font-special);
			text-align: center;
		}

		>img {
			height: 529px;

			border-bottom-left-radius: $radius-primary;
			object-fit: cover;
			object-position: left;
		}
		>img::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset -4px 4px 13px rgba($color: #000000, $alpha: 0.25);
		}

		.content {
			padding: 50px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			z-index: 2;

			border-bottom-right-radius: $radius-primary;
			background-color: var(--color-background-darkest);
			box-shadow: -4px 4px 13px rgba(0, 0, 0, 0.123);

			.stats-group {
				width: 100%;
	
				display: flex;
				flex-direction: column;
				gap: 5px;

				.money {
					width: 100%;
					padding-bottom: 5px;
	
					display: flex;
					justify-content: space-between;
					align-items: baseline;
					line-height: 1;
	
					.current {
						font-size: 55px;
						font-weight: $weight-medium;
					}
	
					.goal {
						font-size: 40px;
	
						small {
							font-size: 24px;
						}
					}
				}

				.progress {
					width: 100%;
					height: 10px;
	
					border: solid 1px #C1C1C1;
					border-radius: 5px;
					background-color: var(--color-background-darker);
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
					
					.filling {
						width: 290px;
						height: 100%;
						
						border: solid 1px var(--color-accent-dark);
						border-radius: 5px;
						background-image: url(/assets/images/progress-bar.webp);
						background-position: center;
						background-size: cover;
						box-shadow: 0 4px 4px rgb(0 0 0 / 25%), inset 0 4px 4px rgb(255 255 255 / 25%);
					}
				}
	
				.details {
					width: 100%;
					padding: {
						top: 5px;
						left: 10px;
						right: 10px;
					}
	
					display: flex;
					justify-content: space-between;

					font-size: 16px;
					font-family: var(--font-secondary);

					a {
						color: var(--color-link);
					}
				}
			}

			p.description {
				width: 100%;
				padding: {
					left: 10px;
					right: 10px;
				}

				font-size: 20px;
			}

			.contribute-group {
				width: 100%;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;

				button.contribute {
					width: 100%;
					height: min-content;
	
					padding: {
						left: 100px;
						right: 100px;
						top: 20px;
						bottom: 20px;
					}
	
					border: solid 2px var(--color-accent-dark);
					border-radius: 10px;
					background-color: var(--color-foreground);
					box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.2);
	
					font-size: 32px;
					font-weight: bold;
				}

				.nb-contributions {
					width: 100%;
					margin-bottom: 25px;

					font-size: 16px;
					line-height: 145%;
					text-align: center;
				}
			}
			
			.social {
				display: flex;
				align-items: center;
				gap: 27px;
	
				.icon {
					width: 35px;
					height: 35px;
				}
				
				.favorite {
					width: 54px;
					height: 47px;
				}
			}
		}
	}
}
