/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
	// Couleurs de base
	--color-white: #fff;
	--color-black: #0c0f0a;

	// Couleurs du projet
	--color-foreground: #E9E4DD;
	--color-background: #FEFAF8;
	--color-background-dark: #F6F4F2;
	--color-background-darker: #F2EFEB;
	--color-background-darkest: #E5E5E5;
	

	--color-accent-light: #ABA39D;
	--color-accent-dark: #393431;

	--color-link: #674721;
}
