/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
	--font-primary: 'Roboto', Helvetica, Arial, sans-serif;
	--font-secondary: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	--font-logo: 'Rochester', cursive;
	--font-special: 'Sanchez', 'Times New Roman', serif;

	--font-size-content: 1rem;
	--font-size-button: 1.25rem;

	/// Grosseur des textes
	--font-size-h1: 4.68rem;
	--font-size-h2: 2rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.6rem;
	--font-size-h5: 1.4rem;
	--font-size-h6: 1.2rem;
}
